{% extends 'base.html' %}
{% load static %}
{% block title %} GWRC - 1.0 {% endblock %}
{% block main %}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Proxies
            <small>GWRC - 1.0</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'list' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Proxies</a></li>

        </ol>
    </section>

    <section class="content">
        <!-- Tabela de pedidos e respostas -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-danger">
                    <div class="box-header btn-default">
                        <i class="ion ion-iphone"></i>
                        <h3 class="box-title">Pedidos Proxies de Registo de Clientes</h3>
                    </div>

                    <!-- /.box-header -->
                    <div class="box-body">
                    <!-- /CODIGO DO GRAFICO DA PROXIE-01  -->

                        <div class="col-md-6">
                            <div class="box box-danger">
                                <div class="box-header with-border">
                                    <i class="fa fa-server"></i>

                                    <h3 class="box-title">SDGW_GWRC #01</h3>

                                </div>
                                <div class="box-body">
                                    <canvas id="chart-sdgw-01" width="800" height="450"></canvas>
                                </div>
                                <div class="box-footer no-padding">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Operação</th>
                                            <th><span class="pull-right">Qtd de pedidos</span></th>
                                        </tr>
                                        </tr>
                                        {% for rows_operation_proxie in count_operation_proxie %}
                                        <tr>
                                            {% if rows_operation_proxie.operation_type == 1 %}
                                            <td class="bg-light-blue-active disabled">{{ rows_operation_proxie.operation_type }} - LOGIN</td>
                                            {% endif %}
                                            {% if rows_operation_proxie.operation_type == 2 %}
                                            <td class="bg-orange-active disabled ">{{ rows_operation_proxie.operation_type }} - PRÉ-REGISTO</td>
                                            {% endif %}
                                            {% if rows_operation_proxie.operation_type == 3 %}
                                            <td class="bg-purple-active" >{{ rows_operation_proxie.operation_type }} - UPLOAD DE IMAGEM</td>
                                            {% endif %}
                                            <td><span class="badge bg-orange pull-right">
                                                {{ rows_operation_proxie.my_count }}
                                            </span>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>

                            </div>
                        </div>

                       <!-- /CODIGO DO GRAFICO DA PROXIE-02  -->

                        <div class="col-md-6">
                            <div class="box box-danger">
                                <div class="box-header with-border">
                                    <i class="fa fa-server"></i>

                                    <h3 class="box-title">SDGW_GWRC #02</h3>

                                </div>
                                <div class="box-body">
                                    <canvas id="chart-sdgw-02" width="800" height="450"></canvas>
                                </div>
                                <div class="box-footer no-padding">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Operação</th>
                                            <th><span class="pull-right">Qtd de pedidos</span></th>
                                        </tr>
                                        </tr>
                                        {% for rows_operation_proxie2 in count_operation_proxie2 %}
                                        <tr>
                                            {% if rows_operation_proxie2.operation_type == 1 %}
                                            <td class="bg-light-blue-active disabled">{{ rows_operation_proxie2.operation_type }} - LOGIN</td>
                                            {% endif %}
                                            {% if rows_operation_proxie2.operation_type == 2 %}
                                            <td class="bg-orange-active disabled ">{{ rows_operation_proxie2.operation_type }} - PRÉ-REGISTO</td>
                                            {% endif %}
                                            {% if rows_operation_proxie2.operation_type == 3 %}
                                            <td class="bg-purple-active" >{{ rows_operation_proxie2.operation_type }} - UPLOAD DE IMAGEM</td>
                                            {% endif %}
                                            <td><span class="badge bg-orange pull-right">
                                                {{ rows_operation_proxie2.my_count }}
                                            </span>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>

                            </div>
                        </div>

 <!-- /CODIGO DO GRAFICO DA PROXIE-03  -->

                        <div class="col-md-6">
                            <div class="box box-danger">
                                <div class="box-header with-border">
                                    <i class="fa fa-server"></i>

                                    <h3 class="box-title">SDGW_GWRC #03</h3>

                                </div>
                                <div class="box-body">
                                    <canvas id="chart-sdgw-03" width="800" height="450"></canvas>
                                </div>
                                <div class="box-footer no-padding">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Operação</th>
                                            <th><span class="pull-right">Qtd de pedidos</span></th>
                                        </tr>
                                        </tr>
                                        {% for rows_operation_proxie3 in count_operation_proxie3 %}
                                        <tr>
                                            {% if rows_operation_proxie3.operation_type == 1 %}
                                            <td class="bg-light-blue-active disabled">{{ rows_operation_proxie3.operation_type }} - LOGIN</td>
                                            {% endif %}
                                            {% if rows_operation_proxie3.operation_type == 2 %}
                                            <td class="bg-orange-active disabled ">{{ rows_operation_proxie3.operation_type }} - PRÉ-REGISTO</td>
                                            {% endif %}
                                            {% if rows_operation_proxie3.operation_type == 3 %}
                                            <td class="bg-purple-active" >{{ rows_operation_proxie3.operation_type }} - UPLOAD DE IMAGEM</td>
                                            {% endif %}
                                            <td><span class="badge bg-orange pull-right">
                                                {{ rows_operation_proxie3.my_count }}
                                            </span>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>

                            </div>
                        </div>


                         <!-- /CODIGO DO GRAFICO DA PROXIE-04  -->

                        <div class="col-md-6">
                            <div class="box box-danger">
                                <div class="box-header with-border">
                                    <i class="fa fa-server"></i>

                                    <h3 class="box-title">SDGW_GWRC #04</h3>

                                </div>
                                <div class="box-body">
                                    <canvas id="chart-sdgw-04" width="800" height="450"></canvas>
                                </div>
                                <div class="box-footer no-padding">
                                    <table class="table table-striped ">
                                        <tr>
                                            <th>Operação</th>
                                            <th><span class="pull-right">Qtd de pedidos</span></th>
                                        </tr>
                                        </tr>
                                        {% for rows_operation_proxie4 in count_operation_proxie4 %}
                                        <tr>
                                            {% if rows_operation_proxie4.operation_type == 1 %}
                                            <td class="bg-light-blue-active disabled">{{ rows_operation_proxie4.operation_type }} - LOGIN</td>
                                            {% endif %}
                                            {% if rows_operation_proxie4.operation_type == 2 %}
                                            <td class="bg-orange-active disabled ">{{ rows_operation_proxie4.operation_type }} - PRÉ-REGISTO</td>
                                            {% endif %}
                                            {% if rows_operation_proxie4.operation_type == 3 %}
                                            <td class="bg-purple-active" >{{ rows_operation_proxie4.operation_type }} - UPLOAD DE IMAGEM</td>
                                            {% endif %}
                                            <td><span class="badge bg-orange pull-right">
                                                {{ rows_operation_proxie4.my_count }}
                                            </span>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>

                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>




    </section>
</div>

<script src="{% static 'dist/js/js_charts/jquery.min.js' %}"></script>
<script src="'{% static 'dist/js/js_charts/Chart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js_costum/charts_functions.js' %}"></script>
{% endblock %}
